html
    head
        title INVOICE PDF
        style
            include template.scss

    body
        div(class='content')
            div(class='header')
                div(class='title_container')
                    div(class='item') Счет-Фактура
                    div(class='item') <span class='normal-text mr-8'>№</span> #{facturaNo}
                    div(id='facturaDate' class='item') <span class='normal-text mr-8'>от</span> #{facturaDate}
                    div(class='item') <span class='normal-text mr-8'>к договорам</span> №#{contractNo}
                    div(class='item') <span class='normal-text mr-8'>от</span> #{contractDate}
                img(src=qrcode class="qrcode")

            div(class='requisites')
                div(class='item')
                    div(class='container')
                        div(class='left') Поставщик:
                        div(class='right') #{seller.Name}
                    div(class='container')
                        div(class='left') Адрес:
                        div(class='right') #{seller.Address}
                    div(class='container')
                        div(class='left') Телефон:
                        div(class='right') #{seller.Phone || ''}
                    div(class='container')
                        div(class='left') Расчетный счет:
                        div(class='right') #{seller.Account}
                    div(class='container')
                        div(class='left') Банк:
                        div(class='right') Тошкент ш., "Ипотека-банк" АТИВ Шайхонтохур район
                    div(class='container')
                        div(class='left') МФО:
                        div(class='right') #{seller.BankId}
                    div(class='container')
                        div(class='left') ОКЭД:
                        div(class='right') #{seller.Oked}
                div(class='item')
                    div(class='container')
                        div(class='left') Получатель:
                        div(class='right') #{buyer.Name}
                    div(class='container')
                        div(class='left') Адрес:
                        div(class='right') #{buyer.Address}
                    div(class='container')
                        div(class='left') Телефон:
                        div(class='right') #{buyer.Phone}
                    div(class='container')
                        div(class='left') Расчетный счет:
                        div(class='right') #{buyer.Account}
                    div(class='container')
                        div(class='left') Банк:
                        div(class='right') Тошкент ш., "Ипотека-банк" АТИВ Шайхонтохур район
                    div(class='container')
                        div(class='left') МФО:
                        div(class='right') #{buyer.BankId}
                    div(class='container')
                        div(class='left') ОКЭД:
                        div(class='right') #{buyer.Oked}
            div(class='table')
                table
                    thead
                        tr
                            th(rowspan=2) Наименование продукта
                            th(rowspan=2) Единица измерения
                            th(rowspan=2) Количество
                            th(rowspan=2) Цена
                            th(rowspan=2) Доставка
                            th(colspan=2) НДС
                            th(rowspan=2) Общая цена с учетом ндс
                        tr
                            th Ставка
                            th Сумма
                    tbody
                        tr
                            td 1
                            td 2
                            td 3
                            td 4
                            td 5
                            td 6
                            td 7
                            td 8
                        each value in productList
                            tr
                                td= value.Name
                                td= value.MeasureName
                                td= value.Count.toLocaleString()
                                td= value.Summa.toLocaleString()
                                td= value.DeliverySum.toLocaleString()
                                td= value.VatRate.toLocaleString() || 'Без НДС'
                                td= value.VatSum.toLocaleString()
                                td= value.DeliverySumWithVat.toLocaleString()
                        tr
                            td(colspan=5 style='text-align: right;') <span style='margin-right: 10px; font-size: 11px;'>Итого</span>
                            td #{vatSum}
                            td #{totalVatSum}
                            td #{totalVatSum.toLocaleString()}
                        tr
                            td(colspan=8 style='text-align: right;') <span style='font-weight: bold; font-size: 11px;'>Всего к оплате:</span> <span style='margin-right: 20px; font-size: 11px;'>#{numberInWords} </span>
            div(class='footer')
                div(class='item')
                    div(style='margin-top: 8px') <span style='font-weight: bold; font-size: 12px;'>Руководитель:</span> #{seller.Director || '-'}
                    div(style='margin-top: 8px') <span style='font-weight: bold; font-size: 12px;'>Главный бухгалтер:</span> #{seller.Director || '-'}
                div(class='item')
                    div(style='margin-top: 8px; display: flex; justify-content: flex-end;') <span style='font-weight: bold; font-size: 12px;'>Руководитель:</span> #{buyer.Director || '-'}
                    div(style='margin-top: 8px; display: flex; justify-content: flex-end;') <span style='font-weight: bold; font-size: 12px;'>Главный бухгалтер:</span> #{buyer.Director || '-'}


